body {
  box-sizing: border-box;
  /* text-align: center; */
}

.misfortune h2{
  margin-top: 1%;
}

.grid-container2 {
    align-content:center;
    align-items: baseline;
    text-align: center;
    padding: 10px;
    background-color: #A5DEF8; 
    overflow: hidden;
  }

#wheel1 {
  display: inline-block;
  width: 100%;
  max-width: 700px;
  height: 100%;
  max-height: 800px;
  margin-top: -10px;
  transition: transform 10s cubic-bezier(.5,.1,.15,1);
  transform: rotate(0deg);
  z-index: 1;
  pointer-events: none;
}

#peg {
  display: block;
  width: 5%;
  min-width: 15px;
  max-width: 40px;
  height: 10%;
  position: relative;
  top: 30%;
  left: 48.5%;
  z-index: 4;
  align-self: center;
}

#button {
  font-size: 1.1em;
  border-radius: 5px;
  width: 200px;
  height: 60px;
  color: white;
  background: #09A64D;
  border: none;
  display: inline-block;
  margin: 15px;
  z-index: 3;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#button:hover, #button:focus {
  background: #2DD976;
}
